# Dualog registry requires you to have NPM_TOKEN
# an environment variable. Put this in your profile:
# `export NPM_TOKEN="<TOKEN_FROM_MYGET>"`
@dualog:registry=https://www.myget.org/F/dualog/npm/
//www.myget.org/F/dualog/npm/:_authToken=${MYGET_DUALOG_TOKEN}
//www.myget.org/F/dualog/npm/:always-auth=true