<dualog-digitalplatform-theme>
  <div class="bg-top">
    <dp-page-container config>
      <div class="main-container bg-top">
        <img src="assets/logo/logo.svg" width="60%" style="max-width: 500px" />
        <dp-header2> Summer internship 2022 </dp-header2>
        <dp-body-type class="dp-mt-4"> Deadline February 1 </dp-body-type>
        <div style="text-align: center" class="dp-mt-12">
          <a href="mailto:fredrik.eilertsen@dualog.com?subject=Summer Internship 2022">
            <dp-primary-button label="Apply now" [disabled]="false"> </dp-primary-button>
          </a>
        </div>
        <div class="dp-mt-12 info-wrap">
          <dp-header4> <dp-icon type="la-map-marker" class="dp-mr-2"> </dp-icon>Tromsø</dp-header4>
          <dp-header4><dp-icon type="calendar" class="dp-mr-2"> </dp-icon>June 15</dp-header4>
          <dp-header4><dp-icon type="la-hourglass-half" class="dp-mr-2"> </dp-icon>8 weeks</dp-header4>
          <dp-header4><dp-icon type="dollar" class="dp-mr-2"> </dp-icon>Paid internship</dp-header4>
        </div>
      </div>
    </dp-page-container>
  </div>
  <div class="bg-btm">
    <dp-page-container config>
      <div class="content-wrap">
        <div>
          <dp-header4>Why be an intern at Dualog?</dp-header4>
          <dp-body-type class="dp-mt-4">
            Do you have the desire to create innovations at sea? Do you have a passion for being part of an agile team,
            and want to work with cutting edge technology? If so, you'd be a great fit for a Software Engineer
            internship at Dualog. Our teams create solutions that enable thousands of ships trading all over the world
            to be integrated with shore. People on our teams use technologies like .NET Core, C#, SQL, Docker, Microsoft
            SQL Server, MongoDB, Angular, Typescript, and Git/GitHub.
          </dp-body-type>

          <dp-body-type class="dp-mt-4">
            <dp-header4>As an intern at Dualog, you will:</dp-header4>

            <ul>
              <li>Be part of a team with other students</li>
              <li>Arrange a hackathon that will form the summer project</li>
              <li>Have a possibility for a part/full time job after the internship</li>
              <li>Build new and support existing solutions used by Dualog customers</li>
            </ul>
          </dp-body-type>
          <dp-header4>Who are we looking for?</dp-header4>
          <dp-body-type>
            <ul>
              <li>Students with a passion for software development</li>
              <li>Students with a desire to work in a fast-paced, demanding, and highly collaborative environment</li>
              <li>Students who want to learn new technologies by solving real life problems</li>
            </ul>
          </dp-body-type>
          <dp-header3>About Dualog</dp-header3>
          <dp-body-type class="dp-mt-4">
            Dualog provides innovation at sea delivered with passion. The biggest shipping companies globally and
            thousands of seafarers use Dualog services daily to run business-critical operations and stay in touch with
            colleagues and loved ones ashore. We exist to bring ships and shore closer, with the bold ambition to see
            Dualog on all ships. We have four offices around the world, as well as remote workers.
          </dp-body-type>
        </div>
        <div style="text-align: center" class="dp-mt-7">
          <video-player></video-player>
          <img src="assets/summerInterns.png" width="100%" class="dp-mt-12" />
          <dp-detail-type>Summer interns 2020</dp-detail-type>
        </div>
      </div>
    </dp-page-container>
  </div>
  <div class="footer">
    <dp-icon type="digitalplatform" [size]="100"> </dp-icon>
  </div>
</dualog-digitalplatform-theme>
